[build]
command = "cd react-migrated && npm install && npm run build"
publish = "react-migrated/dist"
functions = "netlify/functions"

[dev]
command = "npm --prefix react-migrated run dev"
port = 8888
targetPort = 5173
framework = "#custom"

[functions]
node_bundler = "esbuild"

# Tambahkan konfigurasi Blobs
[functions.environment]
NETLIFY_BLOBS_SITE_ID = "e44d61f4-24fa-4611-bb94-0ea4c4ea83fd"
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_nYUOg7t6sJFa@ep-divine-queen-a1azjt4n-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

[functions."generate-story"]
external_node_modules = ["@sparticuz/chromium"]
included_files = ["public/**"]
timeout = 26

[functions."generate-brochure"]
included_files = ["public/**"]
timeout = 26

# Comment scheduled function sampai cache diperbaiki
# [functions.cache-jadwal-data]
#   schedule = "*/10 * * * *"

[functions."process-tarif"]
external_node_modules = ["@sparticuz/chromium", "exceljs"]
included_files = ["public/**"]
timeout = 60